<div class="input-group">
    <span class="input-group-btn">
        <button [ngClass]="btnClass"
                (click)="cambiarValor(-5)"
                type="button">
            <li class="fa fa-minus"></li>
        </button>
    </span>

    <input type="number" 
           class="form-control"
           [ngClass]="{'is-invalid': progreso > 100 || progreso < 0}" 
           placeholder="Progreso"
           min="0"
           max="100"
           (ngModelChange)="onChange($event)"
           [(ngModel)]="progreso">

    <span class="input-group-btn">
        <button [ngClass]="btnClass"
                (click)="cambiarValor(5)" 
                type="button">
            <li class="fa fa-plus"></li>
        </button>
    </span>
</div>
